/*
*
* FONTS
*
*/


@font-face{
    font-family: 'NDotMatrix';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://github.com/salutProductions/Nebula/raw/be85c2a769be79dc14b9441d2067e33f71bfa130/Fonts/DotMatrix.woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}