/*
*
* FONTS
*
*/

@font-face {
    font-family: 'NothingFont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://salutproductions.github.io/Nothing-Theme-2/Fonts/DotMatrix.woff2) format('woff2');
}
